.title{
    color: red;
}

.IconWithList{

    display: flex;
    flex-direction: row;
    background: #614477;
    padding: 10px;
    margin: 5px;
    .itemIcon {
        height: 200px;
    }
    .itemTitle{
        color: #ffffff;
    }
    .itemBoxChildren{
        display: block;
        flex-grow: 1;
        text-align: right;
        color: aquamarine;
    }
}
