header {
  background-color: indigo;

  .wrap{
    display: flex;
    flex-direction: row;

    .logo {
      flex: 1;

      img {
        height: 150px;
        margin: 0;
        padding: 0 10px;
      }
    }

    .welcome {
      flex: 1;
      color: white;
    }

  }
}